body{
    background: black;
}
.submit {
    margin-left: 885px;
}
.footer {
  width: 1000px;
  padding: 20px;
  margin-left: 140px;
}
.email {
    margin-left: 70px;
}
.header {
    margin-top: 50px;
}